
.card {
  border-radius: 28px;
  padding: 36px;
  background-color: #ffffff;
  border: 1px solid #eef2f6;
  box-shadow: 0 12px 34px -10px rgba(0, 0, 0, 0.04);

  width: fit-content;       
  /* max-width: 1000px;         */
  /* max-height: 400px; */
  height: auto; 

  display: inline-flex;      
  flex-direction: column;

  align-self: flex-start;   
}


.title {
  font-size: 1.6rem;
  font-weight: 800;
  color: #1a3354;
  margin-bottom: 28px;
  text-transform: uppercase;
  letter-spacing: -0.01em;
  flex-shrink: 0;
}

.richText {
  flex: 1;
  /* Автоматически создает 2-ю колонку, если текст не влезает в 480px высоты */
  column-width: 320px; 
  column-gap: 50px;
  column-fill: auto;
  overflow: hidden;
  /* font-size: 20px; */
  /* Улучшает баланс строк в колонках */
  widows: 2;
  orphans: 2;
}

.richText ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block; 
}

.richText li {
  position: relative;
  padding-left: 36px;
  margin-bottom: 16px;
  color: #475569;
  line-height: 1.5;
  font-size:20px;
  /* Чтобы пункт не разрывался пополам между колонками */
  break-inside: avoid-column;
  display: block;
}

/* Оранжевые галочки */
.richText li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 22px;
  height: 22px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='3' stroke='%23f97316' %3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m4.5 12.75 6 6 9-13.5' /%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
}

/* Адаптивность для мобилок */
@media (max-width: 768px) {
  .card {
    height: auto; /* На телефоне пусть растет вниз */
    width: 100%;
    min-width: 100%;
    padding: 24px;
  }
  .richText {
    column-count: 1; /* Одна колонка на мобильных */
    column-width: auto;
  }
}